<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antiplagiarism - Mobile Navigation Pane</title>
</head>
<body>
<nav th:fragment="mobile-navbar" class="mobile navbar fixed-bottom navbar-expand bg-dark">
        <ul class="justify-content-around align-content-around nav w-100">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">
                    <img alt="'Home' button'" class="img-fluid" th:src="@{/img/home.svg}"/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">
                    <img alt="'Profile' button" class="img-fluid " th:src="@{/img/profile.svg}"/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">
                    <img alt="'Logout' button" class="img-fluid" th:src="@{/img/logout.svg}"/>
                </a>
            </li>
        </ul>
</nav>
</body>
</html>